/* InsuranceClaimForm.css */
.insurance-claim-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    margin-top: 50px;
    margin-bottom: 50px;
}

.insurance-claim-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.insurance-claim-form .form-group {
    margin-bottom: 15px;
}

.insurance-claim-form label {
    display: block;
    font-weight: bold;
}

.insurance-claim-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.insurance-claim-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.insurance-claim-form button:hover {
    background-color: #0056b3;
}

.insurance-claim-form::before {
    content: "";
    position: absolute;
    top: 80px;
    left: -200px;
    right: -100px;
    width: calc(100% + 200px);
    height: 100%;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/car-insurance-claim-form-with-toy-and-key-on-table-royalty-free-image-1583581112.jpg?crop=0.88847xw:1xh;center,top&resize=1200:*");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.insurance-claim-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }